body{
  background-color:white;
  font-family: verdana;
}
.mission {
  background-color: #212121  ;  //#C2CAD0
  padding-top: 5px;
  padding-bottom: 5px;

  /* background: rgb(0, 0, 0); */
}
.title{
  align-items: center;
  /*font-style: italic bold;
  font-family:fantasy;*/
  font-size: 300%;
  text-shadow: 1px 1px #005ce6;
  font-size: 55px;
  font-family: "Times New Roman";
}
.logo{
  border:10px;
  border-image: url(LogoBack.jpg) 10;
  height:80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #f1f1f1;
}
li {
  float: left;
}
li a, .gwclog img{
  display: inline-block;
  height: 28px;
}
li a, .tablinks{
  display: inline-block;
  color: black;
  width:225px;
  text-align: center;
  padding: 16px 15px;
  text-decoration: none;
}
li a:hover, .fin:hover .hlth:hover .soc:hover .tablinks {
  background-color: #ddd;
}
li.fin li.hlth li.soc {
  display: inline-block;
}
.under{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.under a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.under a:hover{
  background-color: #f1f1f1;
}
.fin:hover .under{
  display: block;
}
.hlth:hover .under{
  display: block;
}
.soc:hover .under{
  display: block;
}
.Bios{
  border-radius: 5px;
  width:auto;
  height:auto;
  padding: 25px 25px;
}
.msn{
  background-image: url("PRFLpic.jpg");
  background-color: inherit;
  border-radius: 5px;
  background-size:1600px;
  padding: 25px 25px;
  height:810px;
}
#Social{
  background-image: url("BG2.jpg");
  background-color: inherit;
  border-radius: 5px;
  background-size:1600px;
}
#Health{
  background-image: url("BG6.jpg");
  background-color: inherit;
  border-radius: 5px;
  background-size:1600px;
}
#Finance{
  background-image: url("BG5.jpg");
  background-color: inherit;
  border-radius: 5px;
  background-size:1600px 500px;
}
.Bio{
  border-radius: 5px;
  width:auto;
  padding: 25px 25px;
  background-color: #cce5ff;
  padding-bottom: 10px;
  color:#4d4d4d;
}
.biop{
  width: 48%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 5px;
  margin-bottom: 25px;
  display:inline-block;
}
.bimg{
  height:450px;
  width:300px;
  margin-top: 25px;
}
.cont{
  text-align: center;
  padding: 10px 20px;
  width:auto;
  align:center;
}
.tabcontent{
  padding: 6px 12px
  border: 1px solid #ccc
  border-top: none;
}
footer{
  padding: 10px, 16px;
  width:100%;
  align:center;
}
.sect{
  width: auto;
  height:auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  padding: 12px 12px;
  opacity: .8;
}
.subs{
  margin-left:25px;
}
.contnt{
  padding: 12px 12px;
}
.hdr{
  align:center;
  margin: 0px 0px;"
}
.blackcontainer {
  position: relative;
  background-color: rgba(200,100,0,.5); // Tint color
  background-blend-mode: multiply;
  text-align: center;
  color: white;

}
.bottom-left {
  position: absolute;
  font-size: 50px;
  color:white;
  bottom: 8px;
  font-style: Arial;
  left: 16px;
}
.top-left {
  position: absolute;
  top: 8px;
  color:white;
  font-style: Arial;
  font-size:50px;
  left: 16px;
}
.top-right {
  position: absolute;
  top: 8px;
  color: white;
  font-size:50px;
  font-style:Arial;
  right: 16px;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  font-style:Arial;
  color:white;
  font-size: 50px;
  right: 16px;
}
.centered {
  position: absolute;
  top: 50%;
  color:white;
  font-style:Arial;
  font-style: bold;
  font-family: "Times New Roman";
  font-size:100px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slides{
  height: 1000 px;
  background-color: red
}
