body{
  background-color:#ededed;
  font-family: 'Oxanium', sans-serif;
}
.title{
  align-items: center;
  /*font-style: italic bold;
  font-family:fantasy;*/
  font-size: 300%;
  text-shadow: 1px 1px #005ce6;
  font-size: 55px;
  /*font-family: "Times New Roman";*/
}
.logo{
  border:10px;
  border-image: url(LogoBack.jpg) 10;
  height:80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nav{
  width: 100vw;
}
ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #5cd6d6;
}
li {
  float: left;
}
li a{
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
}
.tablinks{
  width:20vw;
}
.ubtn{
  width:20vw;
}
li a:hover, .fin:hover .hlth:hover .soc:hover .tablinks {
  background-color: #ddd;
}
li.fin li.hlth li.soc {
  display: inline-block;
}
.under{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.under a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}
.under a:hover{
  background-color: #f1f1f1;
}
.hlth:hover .under{
  display: block;
}
.slides{
  height: 1000px;
  background-color: #ff6666;
  padding: 20px 20px 20px 20px;
}
.calendar{
  padding: 20px 20px 20px 20px;
}
table {
  border-collapse: collapse;
}
table, td {
  border: 1px solid black;
}
th, td{
  height:100px;
  width:12.5%;
  text-indent:5px;
}
.website{
  width:1200px;
  margin: auto;
  border-width: thin;
  border-color: #697d7c;
  border-radius: 5px;
  background-color: white;
}
